{% extends "base.html" %} {% block content %}

<h3 class="text-center text-2xl font-serif italic mb-8">
  Bienvenue chez NiNa’S Bijoux de creature !
</h3>
<div class="text-center text-xl font-serif italic mr-8 ml-8">
  Nous sommes une boutique en ligne spécialisée dans la vente de bijoux
  fantaisie pour femmes. Nous proposons une large gamme des produits de haute
  qualité à des prix abordables. Notre mission est de vous offrir une expérience
  d'achat unique avec des articles soigneusement sélectionnés.
</div>
<div class="text-center text-xl font-serif italic mt-8 mr-8 ml-8">
  <h2 class="text-center text-2xl font-serif italic mb-4">Notre histoire</h2>
  Tout a commencé en 2020 quand ASTOU a eu l'idée de s'integrer dans l'art de la bijouterie. Depuis, nous avons grandi pour servir des milliers de
  clients satisfaits. Notre équipe est passionnée par la mode et les bijoux, et
  nous sommes fiers de vous offrir des produits de qualité à des prix
  abordables.Nous croyons en une mode responsable et durable. Tous nos produits sont
  fabriqués avec des matériaux plaques original.
</div>
<div class="text-center text-xl font-serif italic mt-8 mr-8 ml-8">
  Chez NiNa’S Bijoux de creature, nous offrons une large gamme de nom des
  produits conçus pour bénéfice pour le client.
  Nos collections 

Bagues élégantespour sceller un
Colliers raffinéspou
Bracelets et boucles d'oreillesverser
Que vous cherchiez un bijou délicat du quotidien ou une pièce exceptionnelle pour une occasion spéciale, Chez NiNa’S Bijoux de creature saura votre  satisfaction.

</div>

{% endblock %}
