{% extends "base.html" %}

{% block content %}
<p class="text-center text-2xl font-bold mb-4 mt-16">CONTACTEZ-NOUS </p>
<p class="text-center text-xl font-serif">Nous sommes disponibles du Lundi au Samedi de 10h a 19h </p>
<div class="flex mx-40 my-20 gap-20">
<div class="w-80 h-48 border-2 ml-8 text-center">
  <i class="ri-phone-fill text-4xl text-center mb-2"></i>
  <p class="text-center text-xl font-serif mt-4 ">par telephone</p>
  <p class="text-center text-lg font-serif mt-4 ml-2 mr-2">Appelez-nous au 77 351 01 33 du Lundi au Samedi de 10h a 19h</p>
</div>
<div class="w-80 h-48 border-2 ml-8 text-center">
  <i class="ri-mail-line text-4xl text-center mb-2"></i>
  <p class="text-center text-xl font-serif mt-2">par email</p>
  <p class="text-center text-lg font-serif mt-4">Ecrivez-nous sur l'adresse mail:
    astoumere883@gmail.com </p>
</div>
<div class="w-80 h-48 border-2 ml-8 text-center">
  <p class="text-center text-xl font-serif mb-2">par les reseaux ecrivez-nous
  </p>
  <p class="text-center text-lg font-serif mb-2">   sur :</p>
   <p class="mt-2"> <i class="ri-snapchat-fill text-2xl text-center mb-2"></i> :astou_d2022736</p>
   <p class="mt-2"><i class="ri-instagram-line text-2xl text-center mb-2"></i> :@ASTOUDIOUF107</p>
    <p class="mt-2"><i class="ri-twitter-x-line text-2xl text-center mb-2"></i> :@Astoudi67035421 </p>
</div>
</div>
{% endblock %}